@font-face{
    font-family: "Bilbo Swash Caps";
    src: local("BilboSwashCaps-Regular"),
    url("./fonts/BilboSwashCaps-Regular.ttf");
}
@font-face{
    font-family: "Source Sans 3";
    src: local("SourceSans3-Regular"),
    url("./fonts/SourceSans3-Regular.ttf");
}