.header{
    height: 4rem;
    position: sticky;
    top: 0;
}

.logotype, li{
    font-family: "Source Sans 3";
    font-size: 1.8rem;
    font-weight: 700;
}
li{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
}